extends layout

block styles  
  link(rel='stylesheet', href='/stylesheets/launch.css')


block content

  #spotify-login
    h1= title
    p Welcome to #{title}
    a(href='/login') Log in with Spotify

  #loggedin
    .row.text-center
      .card(id = 'user-card', class='user-info')
          



  script(type="text/javascript" src ='/javascripts/launch.js')


