extends layout

block styles  
  link(rel='stylesheet', href='/stylesheets/launch.css')

block content
  script(type="text/javascript" src ='/javascripts/musicalsummary.js')
  script(type="text/javascript" src ='/javascripts/topTracks.js')
  script(type="text/javascript" src ='/javascripts/bubblechart.js')
  script(type="text/javascript" src ='/javascripts/barchart.js')
  script(type="text/javascript" src ='/javascripts/miniMetric.js')

  style.
    body {
        background: #2C3E50;
    }
  #spotify-login


  #loggedin
    h1.mb-1(style = "color:white") Mindful Music
    br.
    .container-fluid
      .list-group
      .row.text-center
        .card(id = 'user-card', class='user-profile') 
      .card.bg-dark.text-white(id='graph' class='bubbleChart') 
        .card-header
          h2.mb-1  Your Recently Played
          h4 Positivity vs Energy
        .card-body
          br.
          #graph
          #legend
      .card.bg-dark.text-white(id='mm' class='miniMetricCard') 
        .card-header(id='mm-header' class='miniMetricCard-header')
            h3.mb-1  Audio Features
        .card-body
          #miniMetric

  script(type="text/javascript" src ='/javascripts/launch.js')
  script.
    var redirectLocation = "http://localhost:8888/"; // Redirect destination
    console.log(location.pathname)
    if (location.pathname == "/") {
      // Redirect logic
      window.location.replace('/login/')
    }
