
.user-profile
{
    left:25%;
    width: 15rem;
}

.btn 
{
    margin-left: 25%;
    width: 50%;
}

.row.text-center
{
    /*margin-left: 75%;*/
    float:right;
    width:25%;
}

#graph
{
    margin-right:25%;
    /*float: left;*/
}

.container-fluid
{
    margin: auto;

}