
.user-profile
{
    float: right;

    left:25%;
    width: 15rem;
    margin-bottom:7%;

}

.bubbleChart
{
    width: 33%;
    float: left;

}

.miniMetricCard
{
    float: right;
    width: 20%

}

.list-group
{
    width: 38%;
    margin-right:5%;
    float: left;
    max-height: 800px;
    overflow:scroll;
}

.btn 
{
    margin-left: 25%;
    width: 50%;
}

.row.text-center
{
    /*margin-left: 75%;*/
    float:right;
    width:25%;
}

#graph
{
    /* margin-right:5%; */
    /*float: left;*/
}
#miniMetric
{   

    float: right;
}

.container-fluid
{
    margin: auto;
    height: 1000px;

}

#miniMetric path,line
{
    fill:none;
    stroke: black;
 }